<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheResultFile="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <!--测试套件：放在一起即可成为测试套件，执行时会扫描包含的所有 *Test.php文件-->
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <!-- 配置代码覆盖率测试目录 -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <!-- 环境变量配置 -->
    <php>
        <env name="APP_ENV" value="local"/>
        <env name="SDK" value="true"/>
        <ini name="ROOT_TESTS" value="./tests"/>
        <ini name="ROOT_FEATURE" value="./tests/Feature"/>
        <server name="HTTP_HOST" value="localhost"/>
        <post name="foo" value="bar"/>
        <get name="foo" value="bar"/>
        <request name="foo" value="bar"/>
    </php>

    <!--这里是日志记录，把覆盖率信息保存到 ./tests/codeCoverage-->
    <logging>
        <log type="coverage-clover" target="tests/codeCoverage/coverage.xml"/>
        <log type="coverage-html" target="tests/codeCoverage/testdox.html"/>
    </logging>

    <!-- 添加以下节点，用于配置不生成测试报告 -->
    <listeners>
        <listener class="PHPUnit\TextUI\ResultPrinter" file="" />
    </listeners>
</phpunit>